.dialog {
  background-color: lightslategray;
  max-width: 400px;
  width: 90%;
  margin: 20% auto;
}

#project-form {
  max-width: 350px;
  width: 95%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1em);
  align-items: center;
  margin: auto;
  padding: 1em;

  #add-btn {
    grid-column: 3;
    grid-row: 2;
  }

  #cancel {
    grid-column: 4;
    grid-row: 2;
  }
}

#project-form input {
  grid-column: 1 / span 4;
  line-height: 1.5;
  font-size: 1.2rem;
  border: none;
  padding: 0.5em;
  margin-bottom: 1em;
}

.grid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-item {
  background-color: lightblue;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
