.dialog {
  background-color: lightslategray;
  max-width: 550px;
  width: 90%;

  padding: 1em;
  margin: 20% auto;
}

#project-form {
  max-width: 350px;
  width: 95%;
  display: grid;
  grid-template-areas:
    "input input input input"
    ". . button1 button2";
  justify-items: center;
  align-items: center;
  margin: auto;

  input[type="text"] {
    grid-area: input;
    line-height: 1.5;
    font-size: 1.2rem;
    border: none;
    width: 90%;
    padding: 8px;
    margin: 10px;
  }

  #add-btn {
    grid-area: button1;
  }

  #cancel {
    grid-area: button2;
  }
}

.grid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-item {
  background-color: lightblue;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
